{% extends 'base.html' %}
{% load static %}
{% block title %}
Task List
{% endblock title %}

{% block content %}
<div class="user-info">
<h1>Hello {{user_info.name|title}}</h1>
<h2>Your Email: {{user_info.email}}</h2>
</div>
<div class="container">
    <div class="timer">
        <span class="hours"><input type="text" id="hs" value="00"></span> :
        <span class="minutes"><input type="text" id="mins" value="00"></span> :
        <span class="seconds"><input type="text" id="secs" value="00"></span>
    </div>
    <div class="buttons">
        <a href="#" id="startLink">Start</a>
        <a href="#" id="stopLink">Stop</a>
    </div>
</div>
<div class="task-info">
<h3>Your Tasks are as follows</h3>
<table>
    <tr>
        <th>
            Task Name
        </th>
        <th>
            Due Date
        </th>
        <th>
            Estimated Time
        </th>
        <th>
            Spent Time
        </th>
        <th>
            Is Done
        </th>
        <th>
            Options
        </th>
    </tr>
{% for t in tasks %}
<tr>
    <td>
        {{t.title|title}}
    </td>
    <td>
        {{t.due_date|date:"M d, Y"}}
    </td>
    <td>
        {{t.estimated_time}}
    </td>
    <td>
        {{t.spent_time}}
    </td>
    <td>
        <span class="{% if t.is_done %}done{% else %}not-done{% endif %}">
            {% if t.is_done %}Done{% else %}Not Done{% endif %}
        </span>
    </td>
    <td>
        <a href="api/tasks/taskmanager/{{t.id}}/">Focus</a>
        <a href='#'>Done</a>
    </td>
</tr>
{% endfor %}
</table>
</div>
<script src="{% static 'js/task.js' %}"></script>
{% endblock content %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock style %}